force-app/main/default/flows/Get_SA_Details_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Appointment_Details</name>
        <label>Assign Appointment Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.AppointmentNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.WorkType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HospitalName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.ServiceTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoctorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Appointment.FSSK__FSK_Assigned_Service_Resource__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>This flow takes an appointment number (like 1, SA-1, or SA-0001) and returns the appointment&apos;s status, subject, and description.</description>
    <environments>Default</environments>
    <formulas>
        <name>fm_IST_ScheduledStart</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!Find_Appointment.SchedStartTime} + (5.5 / 24)))) + &quot;/&quot; + 
TEXT(MONTH(DATEVALUE({!Find_Appointment.SchedStartTime} + (5.5 / 24)))) + &quot;/&quot; + 
TEXT(YEAR(DATEVALUE({!Find_Appointment.SchedStartTime} + (5.5 / 24)))) + &quot;, &quot; + 
LPAD(TEXT(HOUR(TIMEVALUE({!Find_Appointment.SchedStartTime} + (5.5 / 24)))), 2, &quot;0&quot;) + &quot;:&quot; + 
LPAD(TEXT(MINUTE(TIMEVALUE({!Find_Appointment.SchedStartTime} + (5.5 / 24)))), 2, &quot;0&quot;) + &quot; IST&quot;</expression>
    </formulas>
    <formulas>
        <name>frmPaddedNumber</name>
        <dataType>String</dataType>
        <expression>&quot;SA-&quot; + LPAD(SUBSTITUTE({!ServiceAppointmentNumber}, &quot;SA-&quot;, &quot;&quot;), 4, &quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>Get SA Details Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get SA Details Text</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Appointment</name>
        <label>Find Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmPaddedNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Account</name>
        <label>Get_Patient_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Appointment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DoctorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HospitalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
