force-app/main/default/flows/Modify_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Final_Message</name>
        <label>Final Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>It has been edited.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>What_is_the_Update_Type</name>
        <label>What is the Update Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>General_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Cancellation</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fm_Clean_Start_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!NewDateTime} - (5.5 / 24)</expression>
    </formulas>
    <formulas>
        <name>fm_Doctor_To_Save</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_New_Doctor.Id}, {!Find_Appointment.FSSK__FSK_Assigned_Service_Resource__r.Id})</expression>
    </formulas>
    <formulas>
        <name>fm_Due_To_Save</name>
        <dataType>DateTime</dataType>
        <expression>BLANKVALUE(({!fm_Clean_Start_Time} + (5.5 / 24)) + (1 / 24), {!Find_Appointment.DueDate})</expression>
    </formulas>
    <formulas>
        <name>fm_Earliest_To_Save</name>
        <dataType>DateTime</dataType>
        <expression>BLANKVALUE({!fm_Clean_Start_Time} + (5.5 / 24), {!Find_Appointment.EarliestStartTime})</expression>
    </formulas>
    <formulas>
        <name>fm_End_To_Save</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    {!NewStatus} = &quot;Canceled&quot;, 
    {!Find_Appointment.SchedStartTime},
    BLANKVALUE({!fm_Clean_Start_Time} + (5.5 / 24) + (1/24), {!Find_Appointment.SchedStartTime})
)</expression>
    </formulas>
    <formulas>
        <name>fm_IST_ScheduledStart</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!fm_Start_To_Save} + (5.5 / 24)))) + &quot;/&quot; + 
TEXT(MONTH(DATEVALUE({!fm_Start_To_Save} + (5.5 / 24)))) + &quot;/&quot; + 
TEXT(YEAR(DATEVALUE({!fm_Start_To_Save} + (5.5 / 24)))) + &quot;, &quot; + 
LPAD(TEXT(HOUR(TIMEVALUE({!fm_Start_To_Save} + (5.5 / 24)))), 2, &quot;0&quot;) + &quot;:&quot; + 
LPAD(TEXT(MINUTE(TIMEVALUE({!fm_Start_To_Save} + (5.5 / 24)))), 2, &quot;0&quot;) + &quot; IST&quot;</expression>
    </formulas>
    <formulas>
        <name>fm_Start_To_Save</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    {!NewStatus} = &quot;Canceled&quot;, 
    {!Find_Appointment.SchedStartTime},
    BLANKVALUE({!fm_Clean_Start_Time} + (5.5 / 24), {!Find_Appointment.SchedStartTime})
)</expression>
    </formulas>
    <formulas>
        <name>fm_Status_To_Save</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NewStatus}), TEXT({!Find_Appointment.Status}), {!NewStatus})</expression>
    </formulas>
    <formulas>
        <name>fm_Territory_To_Save</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Hospital.Id}, {!Find_Appointment.ServiceTerritoryId})</expression>
    </formulas>
    <formulas>
        <name>fm_WorkType_To_Save</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Work_Type.Id}, {!Find_Appointment.WorkTypeId})</expression>
    </formulas>
    <formulas>
        <name>frmPaddedNumber</name>
        <dataType>String</dataType>
        <expression>&quot;SA-&quot; + LPAD(SUBSTITUTE({!ServiceAppointmentNumber}, &quot;SA-&quot;, &quot;&quot;), 4, &quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>Modify Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modify Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Appointment</name>
        <label>Find Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmPaddedNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hospital</name>
        <label>Get Hospital</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Doctor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewHospitalName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Doctor</name>
        <label>Get New Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Update_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewDoctorName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Hospital</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>General_Update</name>
        <label>General Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Appointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>fm_Start_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>fm_Start_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>fm_Doctor_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>fm_Start_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>fm_Start_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>fm_Territory_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>fm_Status_To_Save</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>fm_WorkType_To_Save</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Cancellation</name>
        <label>Update for Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Appointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>Find_Appointment.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Find_Appointment.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDoctorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewHospitalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewWorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
